<div id="box">
	<div id="portrait-box">
		<img src="{{path}}">
	</div>	
	<div id="text-content">
		<h1>{{name}}</h1>
		<h4>{{fullName}}</h4>
		<p>
			{{bio}}
   		</p>
   		<div id="click-box">Back &#8617;</div>
	</div>
</div>